<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="databaseConnectionString" connectionString="mongodb://development:sm97Bq68JAtGUndn@ds021884.mlab.com:21884/yugioh"/>
  </connectionStrings>
  <appSettings>
    <add key="databaseName" value="yugioh"/>
    <add key="cardCollectionName" value="card"/>
    <add key="userProfileCollectionName" value="user-profile"/>
    <add key="secretPhrase" value="F4!53x"/>
  </appSettings>
</configuration>
